/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
    font-family:"Chess";
    src:url("TT_CHEQ.eot?") format("eot"),url("TT_CHEQ.woff") format("woff"),url("TT_CHEQ.ttf") format("truetype"),url("TT_CHEQ.svg#") format("svg");
    font-weight:normal;
    font-style:normal;
}
